<head>

    <meta charset="utf-8">
    <title>BikeLocker</title>

    <link rel="stylesheet" href="./style.css" media="screen">


  </head>
  <body>

    <header>

      <!-- The <i> tag below includes the sticky note icon from Font Awesome -->
      <h1><a href="/"><i class="fa fa-bicycle"></i>TheBikeLocker</a></h1>

      <nav>
        <ul class="navbar-list">
          <li class="navbar-item"><a href="/">Home</a></li>
          <li class="navbar-item"><a href="#">About</a></li>
          <li class="navbar-item"><a href="/BikeLocker">Stolen Bike log</a></li>
          <li class="navbar-item navbar-right"><a href="/ReportBike">Report stolen bike</a></li>
        </ul>
      </nav>

    </header>
