{{!--

  You should modify this template so that any existing notes for a user are
  displayed when this page is rendered.

  --}}

{{> header}}

<main>

  <h1>Here is the current log of reported stolen bikes</h1>
  {{#each notes}}
    {{> todo this}}
  {{/each}}
</main>

{{> footer}}
