{{> header}}

<main>
  <div class="info-container">

    <div class="homepage-icon"><i class="fa fa-list-alt"></i></div>
    <h1> This site was designed to help people recover their stolen bikes!</h1>
    <h1> Help us accomplish recover bikes by checking out the Stolen Bike Log page. </h1>


  </div>
</main>

{{> footer}}
